name: CI-CD Pipeline

on:
  push:
    branches:
      - main
jobs:
  hello-job:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Show runner Info
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'termurin'
          
      - name: Build with maven
        run: mvn clean package
